<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="books">Livres</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active" *ngIf="!isLoggedIn">
        <a routerLink="auth/signup">Créer un compte</a>
      </li>
      <li routerLinkActive="active" *ngIf="!isLoggedIn">
        <a routerLink="auth/signin">Connexion</a>
      </li>
      <li routerLinkActive="active" *ngIf="isLoggedIn">
        <a (click)="onSignOut()" style="cursor: pointer">Déconnexion</a>
      </li>
    </ul>
  </div>
</nav>
