<mat-card class="example-card">
  <mat-card-header>
    <!--div mat-card-avatar class="example-header-image"></div-->
    <mat-card-title>{{ book.title }}</mat-card-title>
    <mat-card-subtitle>{{ book.auteur }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image *ngIf="book.photo" [src]="book.photo">
  <mat-card-content>
    <p *ngIf="book.synopsie">{{ book.synopsie }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="onBack()">Retour</button>
    <!--button mat-button>SHARE</button-->
  </mat-card-actions>
</mat-card>
