<div class="row">
  <div class="col-xs-12">
    <h2>Vos livres</h2>
    <div class="list-group">
      <button
        class="list-group-item"
        *ngFor="let book of books; let i = index"
        (click)="onViewBook(i)">
        <h3 class="list-group-item-heading">
          {{ book.title }}
          <button class="btn btn-danger pull-right" (click)="openDialog(book)">
            <span class="glyphicon glyphicon-minus"></span>
          </button>
        </h3>
        <p class="list-group-item-text">{{ book.auteur }}</p>
      </button>
    </div>
    <button mat-raised-button color="primary" (click)="onNewBook()">Nouveau livre</button>
  </div>
</div>

<ng-template #popUp>
  <h2 mat-dialog-title>Supprimer ce livre </h2>
  <mat-dialog-content>Êtes-vous sûre de Vouloir supprimer ?</mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Annuler</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-button (click)="onDeleteBook($event)" [mat-dialog-close]="true">Supprimer</button>
  </mat-dialog-actions>
</ng-template>

