<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Se connecter à votre compte</h2>
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label fxLayoutAlign="center center" for="email">Adresse mail</label>
        <div fxLayoutAlign="start center">
          <mat-icon color="primary">email</mat-icon>
          <input type="text"
                 id="email"
                 class="form-control"
                 formControlName="email">
        </div>
        </div>

      <div class="form-group">
          <label fxLayoutAlign="center center" for="password">Mot de passe</label>
        <div fxLayoutAlign="start center">
          <mat-icon color="primary">lock</mat-icon>
          <input matInput type="password"
                 id="password"
                 class="form-control"
                 formControlName="password">
        </div>
      </div>
      <div fxLayoutAlign="center ">
        <button mat-raised-button color="primary" type="submit"
                [disabled]="signInForm.invalid">Se Connecter</button>
      </div>
    </form>
    <p fxLayoutAlign="center" class="text-danger">{{ errorMessage }}</p>
  </div>
</div>
